* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: 0, auto;
}

.row {
    display: flex;
}

/* navbar */
.logo {
    flex-basis: calc(100% / 4);
}


/* DEBUG */

.debug .page-header {
    background-color: #add8e6;
    padding: 10px;
    min-height: 60px;
}

.debug .page-footer {
    background-color: #23272a;
    padding-top: 10px;
    min-height: 60px;
}

.debug .logo,
.debug .page-menu,
.debug .login {
    background-color: #daa520;
    border: #23272a;
    border-style: dashed;
}
