* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.row {
    display: flex;
}

/* navbar */
.logo,
.login {
    flex-basis: calc(100% / 4);
}

.page-menu {
    flex-grow: 1;
}

/* main */

section {
    padding: 30px 0;
}

.col-35 {
    flex-basis: 35%;
}

.col-65 {
    flex-basis: 65%;
}

.col-100 {
    flex-basis: 100%;
}

.reverse {
    flex-direction: row-reverse;
}

.grey-bg {
    background-color: #d3d3d3;
}

/* DEBUG */

.debug .page-header {
    background-color: #add8e6;
    padding: 10px;
    min-height: 60px;
}

.debug .page-footer {
    background-color: #23272a;
    padding-top: 10px;
    min-height: 60px;
}

.debug .logo,
.debug .page-menu,
.debug .login {
    background-color: #daa520;
    border: #23272a;
    border-style: dashed;
}

.debug [class^='col-'] {
    border: #23272a;
    border-style: dashed;
    border-width: 2px;
    min-height: 300px;
}

.debug .col-35 {
    background-color: #fec0ca;
}

.debug .col-65 {
    background-color: #1c90ff;
}

.debug .col-100 {
    background-color: #228b21;
    min-height: 600px;
}